@{
    ViewData["Title"] = "Xác minh tài khoản";
}

<div class="container mt-5 text-center">
    <h3>@ViewBag.Message</h3>
    <a asp-action="Login" class="btn btn-success mt-3">Đăng nhập ngay</a>
</div>
